body
{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

a 
{
text-decoration : none; 
color : #000;
}

#header
{
	height: 100vh;
	background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url('../img/BG.jpg');
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
}


.user-box
{
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	position: absolute;
}

.user-box img
{
	border-radius: 100%;
	width: 250px;
	border: 2px solid #f2f2f2;
}

.user-box h1
{
	color: #f2f2f2;
	font-weight: bold;
	margin: 10px;
}

.user-box p
{
	color: #f2f2f2;
}

.user-box pre
{
color: #f2f2f2;
}

/*----------------- About Me --------------------*/

.about
{
	padding-top: 3%;
	padding-bottom: 10%;
}

.nav-bar
{
	top:0;
	position: sticky;
	z-index: 2;
}

.navbar-toggler
{
	outline: none !important;
}

.navbar-nav
{
	float: left;
	text-align: left;
}

.nav-link
{
	color: #000 !important;
}

/*--------------------- Skills -------------------*/

.skills
{
	padding-top: 3%;
	padding-bottom: 10%;
}

.skills-bar p
{
	margin-bottom: 1%;
	font-weigth: 600;
}

.progress
{
	border-radius: 16px !important;
	margin-bottom: 5%;
}

.progress-bar
{
	border-radius: 16px;
}




/*------------------- Icons ---------------------*/

.icon_fcul
{
	width: 25%;
	height: 30%;
}

.icon_ida
{
	width: 10%;
	height: 25%;
}

.stomas
{
	width: 25%;
	height: 20%;
}





